.footer {
	padding-bottom: 25px;
	width: 100%;
}

.separator {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.left-align {
	text-align: left;
}

.freepik {
	color: white !important;
}

@media only screen and (max-width: 600px) {
	.icon {
		display: block;
		margin: 0 auto;
	}

	.credit {
		padding-left: 15px;
	}
}
