.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
	font-family: 'Alata', sans-serif;
}

.navbar-dark .navbar-brand {
	font-size: 30px;
	margin-right: 0;
}

.cart {
	opacity: 0.5;
}

.cart:hover {
	opacity: 0.75;
}

.badge {
	position: absolute;
}
